body {
    font-family: Arial, sans-serif;
    background: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.task {
    background: #f7f9fa;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

button {
    background: #27ae60;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1e8449;
}
